## 3.1 Первое знакомство с Series

In [8]:
import pandas as pd # импорт библиотеки

Numpy хорошо работает с числовыми данными - для этого он и создавался. Но на практике таблицы содержат не только числа, но и текст. Поэтому пришлось создавать другие контейнеры данных, которые хорошо будут работать с другими типами.

**Series (серия или по простому ряд значений)** - контейнер в библиотеке Pandas, который создан для хранения одномерного массива данных. В нее нельзя погрузить матрицу или трехмерный массив. Серия может унести только одномерный массив. Именно серия будет хранить содержимое наших столбцов и строк поэтому давайте посмотрим на нее подробнее. Сейчас запомните, что серия это фундамент будущей Pandas таблицы!

Серия состоит из двух очень важных компонентов:

1) хранилище наших значений (именно эти значения мы видим в столбце/строке)

2) хранилище индексов. Индексы могут быть как числовые так и строковые. Обращаясь к серии через индекс мы просим серию вернуть из хранилища значений элемент, который связан с индексом. Очень похоже на словарь! 

Индексы и значения жестко связаны между собой.

Чтобы создать серию вам надо обратиться к библиотеке pandas и у неё спросить серию: **pandas.Series()**. В скобки передайте одномерный список или массив. Кстати, словарь тоже сработает! Pandas примет ваш массив/словарь и создаст на их основе серию.

При попытке распечатать на экране серию, питон печатает две колонки: левая - индексы, правая - наши значения.

Через свойство **.index** вы получите одномерный numpy массив индексов

Через свойство **.values** вы получите одномерный numpy массив с нашими значениями

In [16]:
import pandas as pd

s1 = pd.Series([1, 3, -5, 12])

print(s1, end='\n\n') # серия
print(s1.values, end='\n\n') # значения
print(s1.index) # индексы

0     1
1     3
2    -5
3    12
dtype: int64

[ 1  3 -5 12]

RangeIndex(start=0, stop=4, step=1)

Если при создании серии вы не задаёте индексы, то серия автоматически создает их для себя. Вы можете задать свои индексы, для этого в конструктор серии передайте значения, которые надо хранить в серии и индексы для них.

In [18]:
import pandas as pd

s2 = pd.Series([1, 3, -5, 12], index=['a', 'b', 'c', 'd'])

print(s2, end='\n\n') # серия
print(s2.values, end='\n\n') # значения
print(s2.index) # индексы

a     1
b     3
c    -5
d    12
dtype: int64

[ 1  3 -5 12]

Index(['a', 'b', 'c', 'd'], dtype='object')

Для доступа к элементу серии в скобках укажите индекс, который связан с этим элементом. Если индекс числовой, то в квадратных скобках укажите число: **s[1]**. Если индексы строковые, то укажите в кавычках: **s['c']** (можно одинарные, можно двойные).

In [22]:
import pandas as pd

s3 = pd.Series([1, 3, -5, 12], index=['a', 'b', 'c', 'd'])

print(s3['c']) # доступ по строковому индексу
print(s3[3]) # доступ по числовому индексу

-5
12

Вы можете создавать серию как на основе списка, так и на основе numpy массива - результат будет одинаковый). Для получения доступа к нескольким элементам серии передайте список индексов: **s[['a', 'b', 'c']]**

In [28]:
import pandas as pd

s4 = pd.Series([1, 3, -5, 12], index=['a', 'b', 'c', 'd'])

s4['b'] = 100 # замена значения в исходной серии

print(s4[['b', 'a', 'c']]) # доступ по строковому индексу к нескольким значениям

b    100
a      1
c     -5
dtype: int64

## Задачи урока 3.1

1. Создайте серию, которая будет содержать элементы 1, 2, 3, 4, 5. Функция должна вернуть серию.

In [ ]:
import pandas as pd

def solution():
    return pd.Series(range(1, 6))

2. На вход функции подаётся серия. Доработайте функцию так чтобы она возвращала индексы серии

In [ ]:
import pandas as pd

def solution(s1):
    return s1.index

3. Создайте серию, которая будет содержать элементы 1, 2, 3, 4, 5 и индексы a, b, c, d, e. Функция должна вернуть серию.

In [31]:
import pandas as pd
import string

def solution():
    return pd.Series(range(1, 6), list(string.ascii_lowercase[:5])

4. На вход функции подаётся серия. Вытяните из нее элементы с индексами a и с. Функция должна вернуть серию.

In [ ]:
import pandas as pd

def solution(s1):
    return s1[['a', 'c']]

5. На вход функции подаётся серия. Замените элемент по индексу c на 0. Функция должна вернуть серию с измененным элементом по индексу с.

In [ ]:
import pandas as pd

def solution(s1):
    s1['c'] = 0
    return s1

6. На вход функции подаётся серия. Доработайте функцию так чтобы она возвращала numpy массив, который содержит значения серии

In [ ]:
import pandas as pd
import numpy as np

def solution(s1):
    return np.array(s1.values)

## 3.3 Поподробнее про серии: идексы, сложение, проверка на NaN

1) При фильтрации серии индексы остаются, а не пересоздаются.  
2) Арифметические операции не распространяются на индексы

In [50]:
import pandas as pd

s1 = pd.Series([1, 3, -5, 12], index=['a', 'b', 'c', 'd'])
s1 = s1 + 100

print(s1[s1 > 100])

a    101
b    103
d    112
dtype: int64

Серию можно создавать не только на основе списка. Еще один распространённый сценарий это создание серии из словаря. В этом случае ключи словаря перейдут в индексы серии.

In [56]:
import pandas as pd

d = {'Moscow': 100, 'Murmansk': 200, 'Ufa': 300}
s2 = pd.Series(d)

print(s2, end='\n\n')
print('Moscow' in s2, end='\n\n')
print(s2 + s2)

Moscow      100
Murmansk    200
Ufa         300
dtype: int64

True

Moscow      200
Murmansk    400
Ufa         600
dtype: int64

1) Вы можете задавать индексы на этапе создания серии  
2) Не обязательно чтобы индексы шли по порядку  
3) Если вы создаёте серию на основе словаря и указали индекс, которого не существует в словаре, то pandas добавит в серию такой индекс, но значение будет равно NaN (пропуск)  
4) Если вы создаете серию на основе словаря и не передали все индексы, то никакой ошибки не будет. Пандас добавит в серию только те значения, которые вы указали в индексе

In [59]:
import pandas as pd

d = {'Moscow': 100, 'Murmansk': 200, 'Ufa': 300}
s3 = pd.Series(d, index=['Murmansk', 'Moscow', 'Vladivostok', 'Ufa']) # задаём собственный порядок отображения

print(s3)

Murmansk       200.0
Moscow         100.0
Vladivostok      NaN
Ufa            300.0
dtype: float64

Чтобы проверить серию на NaN, можно использовать функцию **isnull**. Существует обратная функции **notnull**

In [63]:
import pandas as pd

d = {'Moscow': 100, 'Murmansk': 200, 'Ufa': 300}
s3 = pd.Series(d, index=['Murmansk', 'Moscow', 'Vladivostok', 'Ufa']) # задаём собственный порядок отображения

print(s3.isnull(), end='\n\n')
print(s3.notnull())

Murmansk       False
Moscow         False
Vladivostok     True
Ufa            False
dtype: bool

Murmansk        True
Moscow          True
Vladivostok    False
Ufa             True
dtype: bool

**Важно запомнить, что при сложении серий:**

1) не обязательно чтобы они были одинаковой длины  
2) сложение будет происходить по индексам  
3) если в одной из серий есть индекс, которого нет в другой серии, то индекс добавляется в результирующую серию, но значение присваивается NaN

In [65]:
import pandas as pd

s1 = pd.Series({'Moscow': 100, 'Murmansk': 200, 'Ufa': 300})
s2 = pd.Series({'Moscow': 500, 'Murmansk': 200, 'Vladivostok': 300})

print(s1 + s2)

Moscow         600.0
Murmansk       400.0
Ufa              NaN
Vladivostok      NaN
dtype: float64

В случае если необходимо изменить индексы у уже существующей серии, то аглоритм таков:

In [68]:
import pandas as pd

s = pd.Series([5, 10, 20, 30 , 40, 50])

print(s, end='\n\n')

s.index = ['a', 'b', 'c', 'd', 'e', 'f'] # меняем индексы

print(s)

0     5
1    10
2    20
3    30
4    40
5    50
dtype: int64

a     5
b    10
c    20
d    30
e    40
f    50
dtype: int64

У каждой серии есть своё имя. Задать или прочитать имя можно через свойство **name**. Имя используется при работе с хранилищем серий - DataFrame (про него смотрите дальше, но сначала тест).

In [69]:
import pandas as pd

s = pd.Series([5, 10, 20, 30 , 40, 50])

s.name = 'values'
print(s)

0     5
1    10
2    20
3    30
4    40
5    50
Name: values, dtype: int64

## Задачи урока 3.3

1. На вход функции подаётся серия из 7 значений. Известно, что она хранит количество посещенных сайтов некоторого пользователя за первую неделю:

![1](https://ucarecdn.com/624e853b-0065-4f4d-977c-5173040f0168/)

Известно, что за вторую неделю пользователь посетил в два раза больше сайтов  
![2](https://ucarecdn.com/1985976f-ed26-4bf9-bdb8-6ce2fb1a93c9/)

Определите сколько сайтов посетил пользователь в сумме за две недели в разрезе по дням недели. Функция должна вернуть только те дни, где количество посещенных сайтов больше 20:

![3](https://ucarecdn.com/c89026ec-0080-4671-a61e-2e47f4cf314a/)

In [ ]:
import pandas as pd

def solution(ser1):
    result = ser1 + ser1 * 2
    return result[result > 20]

2. На вход поступает некоторая серия. Проверьте, есть ли в ней индекс 'Пятница'. Верните True если есть иначе False.

In [ ]:
import pandas as pd

def solution(ser1):
    return 'Пятница' in ser1

## 3.4 Практика: тонкости при работе с сериями

1. На вход функции подаётся словарь. Постройте из него серию и умножьте каждое значение серии на 2. Функция должна вернуть серию.

In [ ]:
import pandas as pd

def solution(d):
    return pd.Series(d) * 2

2. На вход функции подаётся словарь. Постройте из него серию так чтобы индексы были расположены в порядке: e, a, c, b, d

In [ ]:
import pandas as pd

def solution(d):
    return pd.Series(d, ['e', 'a', 'c', 'b', 'd'])

3. На вход функции подаётся словарь. Постройте из него серию и добавьте еще один индекс g. Индексу g присвойте значение 10. Функция должна вернуть серию.

In [ ]:
import pandas as pd

def solution(d):
    s = pd.Series(d)
    s['g'] = 10
    return s

4. Проверьте, все ли значения серии заполнены? Верните одно значение False - если не все; True - если все заполнены

In [ ]:
import pandas as pd

def solution(s1):
    return all(s1.isnull())

5. На вход вам подаётся серия. Разверните индексы в обратном направлении:

![1](https://ucarecdn.com/618e5198-6834-43fd-b4c5-c8b8eaad97c0/)

In [75]:
import pandas as pd

def solution(s1):
    result = pd.Series(s1.values, s1.index[::-1])
    return result

s1 = pd.Series([6, 5, 4])
solution(s1)

2    6
1    5
0    4
dtype: int64

## 3.5 Первое знакомство с DataFrame

Для хранения серий разработчики Pandas не стали брать словарь, а решили создать свой контейнер - DataFrame (датафрейм). Чтобы датафрейм легко ориентировался в сериях, их наделили свойством name.

У серии индексы не уникальные! Они могут повторяться.

In [6]:
import pandas as pd

s = pd.Series([1, 2, 3], index=['a', 'b', 'a'])

print(s, end='\n\n')
print(s['a'])

a    1
b    2
a    3
dtype: int64

a    1
a    3
dtype: int64

Датафреймы очень хорошо создаются на основе словаря, который состоит из ключей и значений в качестве вложенных списков. Ключи словаря в датафрейме станут названиями столбцов, а вложенные списки - колонками.

In [7]:
import pandas as pd

data = { 'city': ['Moscow', 'Moscow', 'Moscow', 'Kazan', 'Kazan', 'Kazan'],
        'year':  [2022,      2021,     2020,     2022,    2021,    2020],
        'visits': [500,      2000,     1500,     100,     230,     200]}

df = pd.DataFrame(data)

print(df)

     city  year  visits
0  Moscow  2022     500
1  Moscow  2021    2000
2  Moscow  2020    1500
3   Kazan  2022     100
4   Kazan  2021     230
5   Kazan  2020     200

In [9]:
import pandas as pd

data = { 'city': ['Moscow', 'Moscow', 'Moscow', 'Kazan', 'Kazan', 'Kazan'],
        'year':  [2022,      2021,     2020,     2022,    2021,    2020],
        'visits': [500,      2000,     1500,     100,     230,     200]}

df = pd.DataFrame(data, columns=['city', 'year', 'country']) # можно выбрать любое кол-во колонок, или создать новую

print(df)

     city  year country
0  Moscow  2022     NaN
1  Moscow  2021     NaN
2  Moscow  2020     NaN
3   Kazan  2022     NaN
4   Kazan  2021     NaN
5   Kazan  2020     NaN

При создании датафрейма вы можете задать свои собственные индексы (как и с серией)

In [17]:
import pandas as pd

data = { 'city': ['Moscow', 'Moscow', 'Moscow', 'Kazan', 'Kazan', 'Kazan'],
        'year':  [2022,      2021,     2020,     2022,    2021,    2020],
        'visits': [500,      2000,     1500,     100,     230,     200]}

# можно задать любой индекс, главное чтобы кол-во совпадало
df = pd.DataFrame(data, index=['a', 'b', 'c', 'd','e', 'f'], columns=['city', 'year'])

print(df)

     city  year
a  Moscow  2022
b  Moscow  2021
c  Moscow  2020
d   Kazan  2022
e   Kazan  2021
f   Kazan  2020

Доступ к целой колонке мы можем получить указав название колонки в квадратных скобках: **df['название колонки']**. Этот способ разрешает вытягивать колонки с пробелами и спец. символами. Менее гибкий способ это обращение к колонки через **атрибут(свойство)** датафрейма

In [24]:
import pandas as pd

data = { 'city': ['Moscow', 'Moscow', 'Moscow', 'Kazan', 'Kazan', 'Kazan'],
        'year':  [2022,      2021,     2020,     2022,    2021,    2020],
        'visits': [500,      2000,     1500,     100,     230,     200]}

df = pd.DataFrame(data, index=['a', 'b', 'c', 'd','e', 'f'], columns=['city', 'year'])

print(df['city'], end='\n\n') # доступ по первому способу
print(df.city, end='\n\n') # доступ по второму способу

a    Moscow
b    Moscow
c    Moscow
d     Kazan
e     Kazan
f     Kazan
Name: city, dtype: object

a    Moscow
b    Moscow
c    Moscow
d     Kazan
e     Kazan
f     Kazan
Name: city, dtype: object

In [27]:
print(df.loc['c']) # еще один способ вытянутть данные в виде серии

city    Moscow
year      2020
Name: c, dtype: object

Возможно у вас был вопрос: а как создать новую колонку? Все очень просто! В квадратных скобках указываем название новой колонки и передаем либо одно значение либо массив.

Если передаёте массив, то помните, что количество элементов должно быть равно количеству строк в датафрейме. Иначе датафрейм не сможет положить к себе одномерный массив.

In [30]:
import pandas as pd

data = { 'city': ['Moscow', 'Moscow', 'Moscow', 'Kazan', 'Kazan', 'Kazan'],
        'year':  [2022,      2021,     2020,     2022,    2021,    2020],
        'visits': [500,      2000,     1500,     100,     230,     200]}

df = pd.DataFrame(data, index=['a', 'b', 'c', 'd','e', 'f'])
df['visits'] = 0
df['new_visits'] = [100, 200, 300, 400, 500, 600]

print(df)

     city  year  visits  new_visits
a  Moscow  2022       0         100
b  Moscow  2021       0         200
c  Moscow  2020       0         300
d   Kazan  2022       0         400
e   Kazan  2021       0         500
f   Kazan  2020       0         600

Кстати, можно добавить и серию! Только не забывайте про индексы - они должны совпадать, иначе датафрейм ничего не добавит)

In [34]:
import pandas as pd

data = { 'city': ['Moscow', 'Moscow', 'Moscow', 'Kazan', 'Kazan', 'Kazan'],
        'year':  [2022,      2021,     2020,     2022,    2021,    2020],
        'visits': [500,      2000,     1500,     100,     230,     200]}

df = pd.DataFrame(data, index=['a', 'b', 'c', 'd','e', 'f'])
s = pd.Series([1, 10, 20], index=['a', 'd', 'f'])

df['new_data'] = s

print(df)

     city  year  visits  new_data
a  Moscow  2022     500       1.0
b  Moscow  2021    2000       NaN
c  Moscow  2020    1500       NaN
d   Kazan  2022     100      10.0
e   Kazan  2021     230       NaN
f   Kazan  2020     200      20.0

## Задачи урока 3.5

1. На основе словаря создайте датафрейм с индексами user1, user2, user3, user4

In [43]:
import pandas as pd

def solution():
    data = {'user' : ['Ivan', 'Petr', 'Nikolay', 'Andrey'], 
            'time_per_page' :  [10, 30 , 15, 5], 
             'pages' : [7, 9, 12, 3]}
    result = pd.DataFrame(data, index=['user1', 'user2', 'user3', 'user4'])
    return result


solution()

          user  time_per_page  pages
user1     Ivan             10      7
user2     Petr             30      9
user3  Nikolay             15     12
user4   Andrey              5      3

2. На вход функции подаётся датафрейм с прошлого степа. Добавьте в датафрейм новую колонку с названием total_time, и присвойте ей произведение значений из столбцов time_per_page и pages. Функция должна вернуть итоговый датафрейм.

In [40]:
import pandas as pd

def solution(df):
    df['total_time'] = df['time_per_page'] * df['pages']
    return df

3. На вход функции подаётся датафрейм с прошлого степа и серия, которая содержит информацию о балансе пользователя, добавьте в датафрейм столбец balance, который будет хранить информацию о балансе из серии.

![1](https://ucarecdn.com/7fa011bf-a2bb-4f9d-a6d3-ebed9dc47bdb/)

In [44]:
import pandas as pd

def solution(df, s1):
    df['balance'] = s1
    return df

4. На вход функции подаётся датафрейм с прошлого степа. Найдите индексы строк, где баланс не подтянулся. На выходе функция должна вернуть объект Index

In [64]:
import pandas as pd

def solution(df):
    return df[df.balance.isnull()].index

5. На вход функции подаётся датафрейм с прошлого степа. Создайте новую колонку c названием is_correct. Проверьте каждое значение из столбца total_time. Если значение меньше 100, то в колонку is_correct вставьте True, а иначе False. Функция должна вернуть датафрейм с внесёнными изменениями.

In [80]:
import pandas as pd

def solution(df):
    df['is_correct'] = df['total_time'] > 100
    return df

## 3.6 Поподробнее про DataFrame: индексы, вложенные словари, del и .T

Если вы добавляете серию к датафрейму, то будьте внимательны с индексами! Если у серии будут индексы, которых нет у датафрейма, то значения из серии просто не добавятся к датафрейму!

In [8]:
import pandas as pd

data = { 'city': ['Moscow', 'Moscow', 'Moscow', 'Kazan', 'Kazan', 'Kazan'],
        'year':  [2022, 2021, 2020, 2022, 2021, 2020],
        'visits': [1, 2, 3, 4, 5, 6]}


s1 = pd.Series([1, 10, 20], index=[0, 3, 7]) # 7 не добавится так как такого индеккса нету в df
df['old_visits'] = s1 

print(df)

     city  year  visits  old_visits
0  Moscow  2022       1         1.0
1  Moscow  2021       2         NaN
2  Moscow  2020       3         NaN
3   Kazan  2022       4        10.0
4   Kazan  2021       5         NaN
5   Kazan  2020       6         NaN

В колонку можно добавить объект типа **range** или **список**. Удалить колонку можно с помощью оператора **del**

In [19]:
import pandas as pd

data = { 'city': ['Moscow', 'Moscow', 'Moscow', 'Kazan', 'Kazan', 'Kazan'],
        'year':  [2022, 2021, 2020, 2022, 2021, 2020],
        'visits': [1, 2, 3, 4, 5, 6]}
df = pd.DataFrame(data)
df['new_column'] = range(6)

print(df, end='\n\n')

del df['city'] # удаление колонки

print(df)

     city  year  visits  new_column
0  Moscow  2022       1           0
1  Moscow  2021       2           1
2  Moscow  2020       3           2
3   Kazan  2022       4           3
4   Kazan  2021       5           4
5   Kazan  2020       6           5

   year  visits  new_column
0  2022       1           0
1  2021       2           1
2  2020       3           2
3  2022       4           3
4  2021       5           4
5  2020       6           5

Разработчики Pandas позаботились о нас и наделили датафрейм возможностью создаваться на основе вложенных словарей. Что это означает? А то, что вложенные словари уже содержат индексы строк. Внешние ключи будут отвечать за название колонок, а внутренние ключи за индексы строк:

In [34]:
import pandas as pd

data2 = {'Moscow': {2020: 1500, 2021: 2000, 2022:500},
         'Kazan':  {2020: 200, 2021: 230, 2022: 100}} # вложенные ключи являются индексами

df = pd.DataFrame(data2)

print(df)

      Moscow  Kazan
2020    1500    200
2021    2000    230
2022     500    100

Уже знакомое нам свойство транспонирование работает и с датафреймом! Помните, где мы его уже встречали?)

In [35]:
import pandas as pd

data2 = {'Moscow': {2020: 1500, 2021: 2000, 2022:500},
         'Kazan':  {2020: 200, 2021: 230, 2022: 100}} # вложенные ключи являются индексами

df = pd.DataFrame(data2)

print(df.T)

        2020  2021  2022
Moscow  1500  2000   500
Kazan    200   230   100

Если необходимо получить все значения из колонки, то используется свойство **values**, которое возвращает NumPy массив

In [36]:
import pandas as pd

data2 = {'Moscow': {2020: 1500, 2021: 2000, 2022:500},
         'Kazan':  {2020: 200, 2021: 230, 2022: 100}} # вложенные ключи являются индексами

df = pd.DataFrame(data2)

print(df.values)

[[1500  200]
 [2000  230]
 [ 500  100]]

На самом деле у датафрейма два индекса: один для навигации по строкам, а второй по навигации по колонкам:

![1](https://ucarecdn.com/604dd2a7-e1d7-4701-a687-2c43df4802c4/)

Первый можно получить через свойство index, а второй через свойство .columns. 

Да, свойство называется columns (от англ. колонки), но это тоже индекс.

## Задачи урока 3.5

1. На вход подаётся датафрейм. Удалите столбец clicks:

![1](https://ucarecdn.com/8ab4cc8d-302c-4735-89fb-63ef2520e977/)

In [39]:
import pandas as pd

def solution(_df):
    del _df['clicks']
    return _df


df = pd.DataFrame({'user_name': ('Ivan', 'Alex', 'Ugen'),  
                   'clicks': (2, 5, 8), 
                   'time_interval':(3, 6, 9)})

solution(df)

  user_name  time_interval
0      Ivan              3
1      Alex              6
2      Ugen              9

2. На вход функции подаётся датафрейм, отредактируйте индекс второй строки:

![1](https://ucarecdn.com/79075c75-c697-4006-b19a-1b09b43eeba1/)

![2](https://ucarecdn.com/251cf53c-9d7f-4914-ac16-00c8059b1124/)

In [57]:
import pandas as pd

def solution(_df):
    _df.index = [0, 'one', 2]
    return _df


df = pd.DataFrame({'user_name': ('Ivan', 'Alex', 'Ugen'),  
                   'clicks': (2, 5, 8), 
                   'time_interval':(3, 6, 9)})

solution(df)

    user_name  clicks  time_interval
0        Ivan       2              3
one      Alex       5              6
1        Ugen       8              9

 3. На вход функции подаётся датафрейм, переведите название (лейблы) колонок в верхний регистр:
 
 ![1](https://ucarecdn.com/79075c75-c697-4006-b19a-1b09b43eeba1/)
 
 ![2](https://ucarecdn.com/46a2fb3b-d728-4b79-8f08-bdafd0545ece/)

In [64]:
import pandas as pd

def solution(_df):
    _df.columns = map(str.upper, _df.columns)
    return _df


df = pd.DataFrame({'user_name': ('Ivan', 'Alex', 'Ugen'),  
                   'clicks': (2, 5, 8), 
                   'time_interval':(3, 6, 9)})

solution(df)

  USER_NAME  CLICKS  TIME_INTERVAL
0      Ivan       2              3
1      Alex       5              6
2      Ugen       8              9

4. На вход функции подаётся некоторый датафрейм. Определите количество строк и количество столбцов в датафрейме. Функция должна вернуть кортеж: (количество строк, количество столбцов)

In [67]:
import pandas as pd

def solution(_df):
    return _df.shape


df = pd.DataFrame({'user_name': ('Ivan', 'Alex', 'Ugen'),  
                   'clicks': (2, 5, 8), 
                   'time_interval':(3, 6, 9)})

solution(df)

(3, 3)

## 3.7 Практика: особенности индексации

In [84]:
import pandas as pd

def solution(_df, _s1):
    _s1.index = map(int, _s1.index)
    _df['balance'] = _s1
    return _df



df = pd.DataFrame({'user_name': ('Ivan', 'Alex', 'Ugen'),  
                   'clicks': (2, 5, 8), 
                   'time_interval':(3, 6, 9)})

s = pd.Series([100, 200, 800], index=['0', '1', '2'])

solution(df, s)

  user_name  clicks  time_interval  balance
0      Ivan       2              3      100
1      Alex       5              6      200
2      Ugen       8              9      800

## 3.8 Функции reindex, drop и индексация в датафрейме

Если необходимо поменять названия индексов(строк) или колонок, то нужно присваивать не одно значение, а сразу весь список

In [19]:
import pandas as pd

df = pd.DataFrame({'user_name': ('Ivan', 'Alex', 'Ugen'),  
                   'clicks': (2, 5, 8), 
                   'time_interval':(3, 6, 9)})

df.index = ['a', 'b', 'c']
df.columns = ['Name', 'Clicks', 'Time']

df

   Name  Clicks  Time
a  Ivan       2     3
b  Alex       5     6
c  Ugen       8     9

С помощью функции **reindex** можно переназначить, либо выбрать только необходмые столбцы/строки из DataFrame. Используем тогда, когда необходимо что-то оставить

In [33]:
import pandas as pd

df = pd.DataFrame({'user_name': ('Ivan', 'Alex', 'Ugen'),  
                   'clicks': (2, 5, 8), 
                   'time_interval':(3, 6, 9)})

df.reindex(['user_name', 'time_interval', 'new_column'], axis=1)

  user_name  time_interval  new_column
0      Ivan              3         NaN
1      Alex              6         NaN
2      Ugen              9         NaN

функция **drop** позволяет удалить элементы по нужной нам оси. Используем тогда, когда необходимо что-то удалить

In [39]:
import pandas as pd

df = pd.DataFrame({'user_name': ('Ivan', 'Alex', 'Ugen'),  
                   'clicks': (2, 5, 8), 
                   'time_interval':(3, 6, 9)})

df2 = df.drop(['user_name', 'time_interval'], axis=1) # возваращает новый DataFrame
print(df2, end='\n\n')

df.drop('user_name', axis=1, inplace=True) # удалеяет на месте
print(df)

   clicks
0       2
1       5
2       8

   clicks  time_interval
0       2              3
1       5              6
2       8              9

**Индексация по сериям осуществляется следующими способами:**

In [52]:
import pandas as pd

s = pd.Series([50, 10, 200, 500, 350], index=['a', 'b', 'c', 'd', 'e'])

print(s['a']) # по лэйблу
print(s[0], end='\n\n') # по индексу
print(s[2:], end='\n\n') # по срезу
print(s[df > 200], end='\n\n') # по маске
print(s[['e', 'b']], end='\n\n') # несколько лэйблов в разном порядке
print(s['b':'e']) # срез лэйблов с включением последнего элемента

50
50

c    200
d    500
e    350
dtype: int64

d    500
e    350
dtype: int64

e    350
b     10
dtype: int64

b     10
c    200
d    500
e    350
dtype: int64

Pandas позволяет присваивать значения по срезу лэйблов

In [55]:
s['c':'e'] = 0

s

a    50
b    10
c     0
d     0
e     0
dtype: int64

**Индексация по DataFrame осуществляется следующими способами:**

In [75]:
import pandas as pd

df = pd.DataFrame({'user_name': ('Ivan', 'Alex', 'Ugen'),  
                   'clicks': (2, 5, 8), 
                   'time_interval':(3, 6, 9)})

print(df[['user_name', 'time_interval']], end='\n\n') # вытягивание разных колонок
print(df[:3], end='\n\n') # вытягивание разных строк
print(df[df.clicks >= 5]) # вытягивание данных по маске

  user_name  time_interval
0      Ivan              3
1      Alex              6
2      Ugen              9

  user_name  clicks  time_interval
0      Ivan       2              3
1      Alex       5              6
2      Ugen       8              9

  user_name  clicks  time_interval
1      Alex       5              6
2      Ugen       8              9

Данные можно вытягивать и по двумерной маске

In [74]:
import pandas as pd

df = pd.DataFrame({'user_name': (10, 20, 30),  
                   'clicks': (2, 5, 8), 
                   'time_interval':(3, 6, 9)})
mask = df > 5
print(mask, end='\n\n')

df[df > 5] = 0
print(df)

   user_name  clicks  time_interval
0       True   False          False
1       True   False           True
2       True    True           True

   user_name  clicks  time_interval
0          0       2              3
1          0       5              0
2          0       0              0